* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* 
font-family: 'Raleway', sans-serif;
*/

/*  Index.html */

header {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.header-search {
  padding: 8px 16px;
  gap: 8px;
  width: 393px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 20px;
}

.btn-login {
  padding: 16px;
  gap: 10px;
  width: 182px;
  height: 51px;
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
  background-color: #ffff;
}

.banner {
  display: flex;
  height: 20rem;
  background-image: url('../img/banner.png');
  background-size: cover;
  margin-top: 2rem;
  color: #f5f5f5;
}

.text-banner {
  padding: 9rem;
}

.text-banner > h2 {
  font-size: 52px;
}

.text-banner > p {
  font-size: 22px;
  margin-top: 1rem;
}

.text-banner > input {
  background-color: #2a7ae4;
  padding: 0.7rem;
  color: #f5f5f5;
  font-family: 'Raleway', sans-serif;
  margin-top: 1rem;
  border: 1px solid #2a7ae4;
}

.section-items {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.toolbar-gallery {
  display: flex;
  justify-content: space-between;
}

.toolbar-gallery > div > a {
  text-decoration: none;
  color: #2a7ae4;
}

.toolbar-gallery > h2 {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}

.cards {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.item-title {
  font-size: 14px;
}

.item-price {
  font-size: 16px;
  font-weight: 700;
}

.card {
  padding: 0.3rem;
}

.card > a {
  text-decoration: none;
  color: #2a7ae4;
  font-size: 16px;
  font-weight: 700;
}

footer {
  display: flex;
  height: 368px;
  justify-content: space-around;
  background: #eaf2fd;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-footer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.links-footer > ul {
  list-style: none;
  align-self: center;
  justify-self: center;
}

.links-footer > ul > li {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 500;
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-footer > form {
  display: flex;
  flex-direction: column;
}

form > label {
  font-size: 16px;
  font-weight: 700;
}

form > input {
  width: 560px;
  height: 56px;
  border-radius: 4px;
  gap: 4px;
  margin-top: 0.5rem;
  border: 1px solid #fff;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  padding: 0.3rem;
}

form > textarea {
  width: 560px;
  height: 82px;
  border-radius: 4px;
  gap: 4px;
  margin-top: 1rem;
  border: 1px solid #fff;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  padding: 0.3rem;
}

form > button {
  width: 144px;
  height: 51px;
  background: #2a7ae4;
  color: #eaf2fd;
  margin-top: 0.5rem;
  border: 1px solid #2a7ae4;

}

.autor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 10px;
  height: 4rem;
}

/* login.html */

.main-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
}

.main-login > h2{
  margin-top: 3rem;
  font-size: 18px;
  font-weight: 700;
}
.main-login > form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.main-login > form > input {
  width: 423px;
  height: 63px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
  padding: 0.3rem;
}

.main-login > form > button {
  height: 62px;
  width: 423px;
  left: 508px;
  top: 435px;
  background: #2a7ae4;
  border: 1px solid #2a7ae4;
}

/* adminMenu.html */